<div class="kz-chatbot-results">
    <h4>{{modelInfo}}</h4>
    
    <p>{{gptResult}}</p>
    
    <h4>{{documentIdsTitle}}</h4>
    <ul>
        {{#documents}}
        <li>{{id}}</li>
        {{/documents}}
    </ul>
    
    <h4>{{retrievalTimeTitle}}</h4>
    <p>{{retrievalTime}}</p>
    
    <h4>{{tokensTitle}}</h4>
    <p>{{tokens}}</p>
    
    {{#documents}}
    <h4 class="kz-chatbot-link-heading">
        <a href="{{url}}" class="kz-chatbot-link">{{title}}</a>
    </h4>
    {{/documents}}
</div>
